# Common
PUBLIC_URL=http://localhost
JWT_SECRET=super-secret-key
STRIPE_SECRET_KEY=sk_test_example
STRIPE_PUBLISHABLE_KEY=pk_test_example
STRIPE_WEBHOOK_SECRET=whsec_example
DATABASE_URL=Host=localhost;Database=hvshop;Username=postgres;Password=postgres

# Admin seed
ADMINSEED__EMAIL=admin@example.com
ADMINSEED__PASSWORD=ChangeMe123!

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8080

